:root {
  --main-color: #fff;
  --bg-color: #202023;
  --list-color: #f2f2f2;
  --button-color: #b47b48;
  --buybutton-color: #c85312;

}
.body {
font-family: Inter, sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-nav-list-link {
color: var(--main-color);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.hero-title {
color: var(--main-color);
font-family: Inter;
font-size: 70px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.hero-subtitle {
color: var(--main-color);
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.hero-button {
width: 207px;
height: 57px;
flex-shrink: 0;
border-radius: 17px;
background-color:var(--button-color);
color: var(--main-color);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
border: none;
}
.food-list-item-box-subtitle {
color: var(--main-color);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.food-list-item-box-title {
color: var(--main-color);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.food-list-item-box-button {
width: 79px;
height: 34px;
flex-shrink: 0;
background-color:var(--buybutton-color);
color: var(--main-color);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;
border:none;
}
.menu-title {
color: var(--main-color);
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
.menu-list-item-box-title {
color: var(--main-color);
font-family: Inter;
font-size: 25.92px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.menu-list-item-box-button {
  
}